{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white border-light p-4">
                <h2 class="text-center mb-4">Register Form</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center mt-4">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <a class="btn btn-secondary ms-2" href="{% url "login" %}">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
