{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card bg-dark text-white border-light shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Select a User to Chat With:</h2>
                    <ul class="list-group">
                        {% for user in users %}
                            {% if user != request.user %}
                                <li class="list-group-item bg-dark text-white border-light">
                                    <a href="{% url 'chat_room' user.username %}" class="btn btn-warning">{{ user.username }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
